@model BadHomburgBlog.ViewModels.CommentModel

    <div class="display-label"><b>Name:</b></div>
    <div class="display-field">@Model.Name</div>

    <div class="display-label"><b>Text:</b></div>
    <div class="display-field">@Model.Text</div>
<hr />